// Specific CSS for your home-page

p{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-size: 1.2rem;
  margin-right: 100px;
  margin-top: 90px;
  font-family: Helvetica,Helvetica,sans-serif;
  font-weight: 400;


}

body {
  border-bottom: groove;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}


.titulo-home{
font-size: 2.8125rem;
margin-top: 150px;
font-weight: 400;

}
.container{
  box-sizing: border-box;
    margin-left: auto;
    margin-right: 0px;
    transition: width .15s;
    display: flex;
}
.container_2{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 0px;
    transition: width .15s;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image-1-home {
    display: flex;
    height: 250px;
    justify-content: right;
    margin-left: 350px;
    margin-top: 330px;

}
.image-2-home {
  display: flex;
  position: absolute;
  height: 290px;
  margin-top: 70px;

}
.image-3-home {
  display: flex;
  position: absolute;
  height: 490px;
    margin-top: 200px;

}
.image-4-home {
  display: flex;
    height: 450px;
    justify-content: right;
    margin-left: 0px;
    margin-top: 130px;
    width: 650px;

}
.card-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-home2{
color: #3f43fd;
}
.picture-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #edebea;
  height: 690px;
}

.picture-home2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 690px;
}
.background-div{
  background-color: #000000;
  margin-top: 500px;

}

.titulo-home2{
  color: #edebea;
}
.prueba{
  height: 1590px;

}

.overflow-auto{
    overflow: auto; /* or overflow: scroll; */
    max-height: 600px; /* or any other value */
}


body{margin-top:20px;}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding: 60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}
