// Specific CSS for your home-page

p{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-size: 1.2rem;
  margin-right: 100px;
  margin-top: 90px;
  font-family: Arial, Helvetica, sans-serif;



}

body {
  border-bottom: groove;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}


.titulo-home{
font-size: 2.8125rem;
margin-top: 150px;
}
.container{
  box-sizing: border-box;
    margin-left: auto;
    margin-right: 0px;
    transition: width .15s;
    display: flex;
}
.image-1-home {
  display: flex;
    height: 250px;
    justify-content: right;
    margin-left: 350px;
    margin-top: 330px;

}
.image-2-home {
  display: flex;
  position: absolute;
  height: 290px;
  margin-top: 70px;

}

.card-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.picture-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #edebea;
  height: 690px;
}
