
.column-nosotros {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 14px;
}

.card-nosotros {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  border-radius: 20px;
}

.radio-imagen {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.contenedor-nosotros {
  padding: 0 16px;
}

.contenedor-nosotros::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
