<form>
  <div class="row py-4 justify-content-center align-items-center">
    <label for="exampleInputEmail1" class="form-label">Fecha</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Coloque la nueva fecha</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre del Doctor/a</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">Coloque el nombre del doctor/a</div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Recordar</label>
  </div>
  <button type="submit" class="btn btn-primary">Confirmar</button>
</form>
