<div class="row product-container">
  <div class="card-exams" style="width: 13rem;">
    <img src="assets/Blood-test-cuate.png" class="card-img-top" alt="...">
    <div class="card-body-1">
        <h5 class="card-title-1">Doctor Favaloro</h5>
        <p class="card-text-1">Informe medico general</p>
    </div>
  </div>
</div>
