<footer class= "footer py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <%= link_to "Home", "#", class: "nav-link px-2 text-muted" %>
    <%= link_to "Nosotros", "#", class: "nav-link px-2 text-muted" %>
    <%= link_to "Contacto", "#", class: "nav-link px-2 text-muted" %>
  </ul>
  <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
  <p class="p-footer text-center text-muted">&copy; 2023 Mi Salud Company, Inc</p>
</footer>
