<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright" style="display: contents;">
    <%= link_to "Home", "#", class: "nav-link px-2 text-muted" %>
    <%= link_to "Nosotros", "#", class: "nav-link px-2 text-muted" %>
    <%= link_to "Contacto", "#", class: "nav-link px-2 text-muted" %>
  </div>
  <div>
2023 Mi Salud Company, Inc
  </div>
</div>
