<div class="banner" style="background-image: url(assets/foto-banner.png);">
  <div class="container">
    <a class="btn btn-primary" href="#">Registrate</a>
  </div>
</div>
<div class="container">
<h1> Acerca de nosotros</h1>
<div class="card">
  <img src="assets/tagline.png" alt="Product image">
  <h2>Product Name</h2>
  <p>Product description</p>
  <button>Learn More</button>
</div>
