<section>
  <div class="container -wide">
    <div class="card-home">
          <div>
            <h3 class="titulo-home"> Recupera el control <br> de tu salud.</h3>
             <p class="">
            ¡Bienvenidos a nuestro sitio web de salud! <br>
            Aquí puedes subir toda tu historia clínica y tener acceso a ella en cualquier momento y lugar. <br>
            es más fácil mantener un registro actualizado y hacer un seguimiento de tu salud. Con Mi salud al tener todo tu historial clínico digitalmente, puedes evitar llevar copias en papel contigo a cada consulta médica.
            </p>
            <%= link_to "Comenzar", class: "btn btn-primary mt-3" %>
          </div>
         <div class="picture-home"> <%= image_tag  "foto-home-doctor", class:"image-1-home" %> <%= image_tag "foto-home-doctor-2", class:"image-2-home" %>
      </div>
    </div>
  </div>
</section>
<section>
<h1>Mantene tu historial clinico atualizado </h1>
</section>
<section></section>
<section></section>
