<img src="https://res.cloudinary.com/dz3nzxaiy/image/upload/c_scale,h_1600/v1672338116/2109.w013.n001.531b.p30.531_Convertido_zpgzjo.png" class="img-fluid" alt="...">
</div>
 <%= link_to "Registrate", bookings_path, class:"btn btn-primary" %>
</div>
