<div class="contenedor">
  <div class="" >
    <h1     style="margin-top: 9rem;
    display: flex;
    justify-content: center;">¿Por que elegirnos?</h1>
    <h4 style="padding: 11rem;margin-top: -7rem;">En nuestro sitio, puede controlar, acceder y subir todos sus informes médicos .Ofrecemos una plataforma fácil de usar donde puede almacenar y compartir información médica confidencial de manera segura, y tener acceso a ella en cualquier momento y lugar. ¡Este sitio es una herramienta valiosa para mantenerse informado y en control de su salud!</h4>
  </div>

  <div class="row mt-5 vh-100">

    <div class="column-nosotros">
      <div class="card-nosotros-salud">
        <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686966/development/0a7dwram8vikp1tb69jf6e0s2h9h.png", style:"display: flex;
    position: relative;
    right: -4rem;", class:"radio-imagen-1"%>
        <div class="contenedor-nosotros">
          <h2 style="text-align: -webkit-center; ">Carolina Ramirez</h2>
          <p class="description" style="text-align: -webkit-center;">International experience, working and learning in multicultural environments. Passionate about IT solutions.</p>
        </div>
      </div>
    </div>

    <div class="column-nosotros">
      <div class="card-nosotros-salud">
        <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686968/development/xjt1kx3z4ok0r2py7xpvt3w7l8ma.jpg",style:"display: flex;
    position: relative;
    right: -4rem;",  class:"radio-imagen-1" %>
        <div class="contenedor-nosotros">
          <h2 style="text-align: -webkit-center;">Gastón Henrich</h2>
          <p class="description" style="text-align: -webkit-center;">Hi my name is Gaston Henrich, I am 32 years old and I am from argentina, currently living in Australia. I am passionate and curious about technology .</p>
        </div>
      </div>
    </div>

    <div class="column-nosotros">
      <div class="card-nosotros-salud">
        <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686964/development/4n5bosu9lvxgpilbupsvff7bst0i.jpg",style:"display: flex;
    position: relative;
    right: -4rem;",  class:"radio-imagen-1" %>
        <div class="contenedor-nosotros">
          <h2 style="text-align: -webkit-center;">Francisco Giacchi</h2>
          <p class="description" style="text-align: -webkit-center;">International Master in Business Administration. I am passionate about solving problems, analysing them from different perspectives.</p>
        </div>
      </div>
    </div>
  </div>
</div>
