<div class="about-section">
  <h1>Our Team</h1>
</div>

<div class="row">

  <div class="column-nosotros">
    <div class="card-nosotros">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686966/development/0a7dwram8vikp1tb69jf6e0s2h9h.png", class:"radio-imagen" %>
      <div class="contenedor-nosotros">
        <h2>Carolina Ramirez</h2>
        <p class="title">CEO, Founder & Fullstack Dev</p>
        <p>International experience, working and learning in multicultural environments. Passionate about IT solutions. Founder of Drugstore.</p>
        <p>carolina@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column-nosotros">
    <div class="card-nosotros">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686968/development/xjt1kx3z4ok0r2py7xpvt3w7l8ma.jpg", class:"radio-imagen" %>
      <div class="contenedor-nosotros">
        <h2>Gastón Henrich</h2>
        <p class="title">Fullstack Dev</p>
        <p>Hi my name is Gaston Henrich i am 32 years old and i am from argentina currently living in australia, I am passionate ,curious about technology .</p>
        <p>gaston@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column-nosotros">
    <div class="card-nosotros">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686964/development/4n5bosu9lvxgpilbupsvff7bst0i.jpg", class:"radio-imagen" %>
      <div class="contenedor-nosotros">
        <h2>Francisco Giacci</h2>
        <p class="title">Fullstack Dev</p>
        <p>International Master in Business Administration. I am passionate about solving problems, analysing them from different perspectives.</p>
        <p>francisco@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column-nosotros">
    <div class="card-nosotros">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686962/development/e6xjmbo9d0rnqilhqha5hzixi0ay.jpg", class:"radio-imagen" %>
      <div class="contenedor-nosotros">
        <h2>Michelle Madrid</h2>
        <p class="title">Fullstack Dev</p>
        <p>Engineering student at Pontificia Universidad Católica de Chile. I like nature, watching films and going out with my friends.</p>
        <p>michelle@gmail.com</p>
      </div>
    </div>
  </div>
</div>
