.grey-bg {
  background-color: #F5F7FA;
}

.card-exams{
  height: 17rem;
  width: 17rem;
  background-image: url('/assets/Cardiologist-pana.png');
  background-size: cover;

}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card-body{
  display: flex;
  position: relative;
  left: 2.5rem;

}
