.container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  width: 30rem;
  position: relative;
  left: 4rem;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.4);
}

.container .card img {
  width: 25rem;
  height: 25rem;
  margin-top: 1rem;
}

.container .card h3 {
  flex-grow: 1;
  padding-left: 20px;
  text-align: center;
}
