.user-profile {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 37rem;
}

.radio-imagen-user {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
}
