<h1>Bienvenidos</h1>
<div class="card">
<div class="row">
  <div class="col-sm-6">
    <div class="card-exams-show">
      <div class="card-body">
      <h3><%= @exam.name %></h3>
      <h3><%= @exam.place %></h3>


        <div>
        <%= cl_image_tag @exam.photo.key %>
        </div>
          <h3><%= @exam.date %></h3>
      </div>
    </div>
  </div>
</div>
</div>
