<div class="py-5">
  <div class="card d-flex justify-content-center mt-5 text-center ms-5 me-5 " style="width: 800px">
    <div class="card-header">
      <h1>HABITOS PERSONALIZADOS</h1>
    </div>
    <div class="card-body">
      <h3>Tu habito  <strong><%= @habit.habit_type%></strong></h3>
      <h3>actualmente tiene un valor de  <strong><%= @habit.quantity %></strong></h3>
      <h3>con una frecuencia de <strong><%= @habit.frequency%></strong></h3>
    </div>
  </div>
</div>
